[submodule "include/sokol"]
	path = include/sokol
	url = https://github.com/floooh/sokol.git
[submodule "include/HandmadeMath"]
	path = include/HandmadeMath
	url = https://github.com/HandmadeMath/HandmadeMath.git
[submodule "include/stb"]
	path = include/stb
	url = https://github.com/nothings/stb.git
